body {
    background-color: black;
    text-align: center;  /*centers all elements*/
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*styles the first paragraph in the first section classed as "first_section"*/
.first_section h1 {
  font-size: 50px;
}


.website_link {
    font-size: 16px;
    color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 42px;
    font-weight: 300;
}

.mid_section p {
    font-size: 21px;
    color: gray
}

.last_section p {
    font-size: 20px;
    color: rgb(218, 218, 247);
    font-weight: 200;
}

/*to highlight*/
.last_section p span{
    background-color: rgba(252, 252, 122, 0.50); /*rgba allows fine adjustment of opacity*/
    
}